/* Small Screen */
.container {
  margin: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__left {
  margin-bottom: 0rem;
  text-align: center;
}

.form__title {
  color: #4361ee;
  margin-bottom: 1rem;
  font-size: 2.44rem;
  text-align: left;
}

.form__genre {
  color: #b5179e;
  margin-bottom: 1rem;
  font-size: 1.59rem;
}

.form__description {
  color: #64748b;
  margin-bottom: 1rem;
}

.form__button {
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #4361ee;
  background-color: #4361ee;
  color: #fff;
  justify-content: end;
}

span {
  color: #b5179e;
  font-weight: 500;
}

button[type="submit"]:hover {
  cursor: pointer;
  /* transform: scale(1.02); */
  /* background-color: #2f45a6; */
  opacity: 80%;
  transition: background-color 1s ease 0s;
}

button[type="submit"]:active {
  cursor: pointer;
  transform: scale(1.02);
  transition: transform 0.1s ease 0s;
}

.form__image {
  max-width: 100%;
  height: auto;
  border-radius: 25px;
}

.form__container {
  max-width: 100vw;
  margin: 0 auto;
}

.form__group {
  margin-bottom: 20px;
}

.form__label {
  display: flex;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.form__input {
  display: flex;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form__right {
  flex-basis: 50%;
  text-align: right;
  padding: 1rem;
}

.form__select {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  height: 3em;
  border-radius: 0.25em;
  overflow: hidden;
}

/* .form__select ::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: #34495e;
  transition: 0.25s all ease;
  pointer-events: none;
} */

/* .select {
  position: relative;
  display: flex;
  width: 100%;
  border-radius: 0.25em;
  overflow: hidden;
} */

.form__select {
  display: flex;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.form__select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: #34495e;
  transition: 0.25s all ease;
  pointer-events: none;
}

/* Medium Screen */
@media (min-width: 768px) {
  .form {
    display: flex;
    flex-direction: row;
  }
  .form__right {
    flex-basis: 50%;
    text-align: right;
    padding: 1rem;
  }
}

/* Large Screen */
@media (min-width: 992px) {
  .container {
    max-width: 1200px;
    margin: 3rem auto;
  }

  .form {
    margin: 0 1rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  .form__left {
    flex-basis: 50%;
    text-align: left;
  }

  .form__right {
    flex-basis: 50%;
    text-align: right;
    padding: 1rem;
  }

  .form {
    display: flex;
    flex-direction: row;
  }
}
