/* Small Screen */
.container {
  margin: 1rem;
}

.hero {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.hero__left {
  margin-bottom: 1rem;
}

.hero__title {
  color: #4361ee;
  margin-bottom: 1rem;
  font-size: 2.44rem;
}

.hero__genre {
  color: #b5179e;
  margin-bottom: 1rem;
}

.hero__description {
  color: #64748b;
  margin-bottom: 1rem;
}

.hero__button {
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #4361ee;
  background-color: #4361ee;
  color: #fff;
}

button:hover {
  cursor: pointer;
  /* transform: scale(1.02); */
  /* background-color: #2f45a6; */
  opacity: 80%;
  transition: background-color 1s ease 0s;
}

button:active {
  cursor: pointer;
  transform: scale(1.02);
  transition: transform 0.1s ease 0s;
}

.hero__image {
  max-width: 100%;
  height: auto;
  border-radius: 25px;
}

/* Medium Screen */
@media (min-width: 768px) {
  /*
       * Nothing TODO Here.
       * We dont change style Hero. 
       */
}

/* Large Screen */
@media (min-width: 992px) {
  .container {
    max-width: 1200px;
    margin: 3rem auto;
  }

  .hero {
    margin: 0 1rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  .hero__left {
    flex-basis: 100%;
  }

  .hero__right {
    flex-basis: 50%;
  }
}
